openapi: 3.0.1
info:
  version: 2.0.0
  title: Bosta Server APIs
  description: Documentations for Bosta APIs
  contact:
    name: Bosta Team
    url: https://bosta.co
    email: gaber@bosta.co
servers:
  - url: http://app.bosta.co/api/v2/
tags:
  - name: Users
    description: All Users APIs
  - name: Groups
    description: All system groups APIs
  - name: Businesses
    description: All businesses APIs
  - name: Pickup locations
    description: 'All pickup locations '
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
    ApiKey:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    Address:
      title: Address
      required:
        - firstLine
        - secondLine
        - floor
        - apartment
        - city
      type: object
      properties:
        firstLine:
          type: string
        secondLine:
          type: string
        floor:
          type: string
        apartment:
          type: string
        city:
          $ref: '#/components/schemas/City'
      example:
        firstLine: el-mohandseen
        secondLine: el-mohandseen
        floor: '1'
        apartment: '1'
        city:
          _id: FceDyHXwpSYYF9zGW
          name: cairo
    City:
      title: City
      required:
        - _id
        - name
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
      example:
        _id: FceDyHXwpSYYF9zGW
        name: cairo
    PaymentInfo:
      title: PaymentInfo
      required:
        - paymentFrequency
        - paymentSchedule
        - paymentTransferMethod
        - paymentWay
        - businessCategory
      type: object
      properties:
        paymentFrequency:
          type: string
        paymentSchedule:
          type: string
        paymentTransferMethod:
          type: string
        paymentWay:
          type: string
        businessCategory:
          type: string
      example:
        paymentFrequency: Weekly
        paymentSchedule: Sunday
        paymentTransferMethod: Cash
        paymentWay: Net COD
        businessCategory: Bronze
    countryId:
      type: string
      description: Egypt countryId is `60e4482c7cb7d4bc4849c4d5` and KSA countryId is `eF-3f9FZr`
      enum:
        - 60e4482c7cb7d4bc4849c4d5
        - eF-3f9FZr
    BankInfo:
      title: BankInfo
      required:
        - beneficiaryName
        - accountNumber
        - bankName
      type: object
      properties:
        beneficiaryName:
          type: string
        accountNumber:
          type: string
        bankName:
          type: string
      example:
        beneficiaryName: test
        accountNumber: '123'
        bankName: cib
    PickupAddress:
      title: PickupAddress
      required:
        - firstLine
        - secondLine
        - floor
        - apartment
        - city
        - district
        - buildingType
      type: object
      properties:
        firstLine:
          type: string
        secondLine:
          type: string
        floor:
          type: string
        apartment:
          type: string
        city:
          $ref: '#/components/schemas/City'
        district:
          type: string
        buildingType:
          type: integer
          format: int32
      example:
        firstLine: el-mohandseen
        secondLine: el-mohandseen
        floor: '1'
        apartment: '1'
        city:
          _id: FceDyHXwpSYYF9zGW
          name: cairo
        district: Abu Rawash
        buildingType: 0
    BusinessUpdatedData:
      title: BusinessUpdatedData
      required:
        - name
        - website
        - salesChannel
        - industry
      type: object
      properties:
        name:
          type: string
        arabicName:
          type: string
        website:
          type: string
        salesChannel:
          type: string
        industry:
          type: string
      example:
        name: business101
        website: www.google.com
        salesChannel: INSTAGRAM_SELLER
        industry: industry
    BusinessaddpinCodeRequest:
      title: BusinessaddpinCodeRequest
      required:
        - masterPinCode
      type: object
      properties:
        masterPinCode:
          type: string
      example:
        masterPinCode: '123456'
    BusinesspinCoderesetRequest:
      title: BusinesspinCoderesetRequest
      required:
        - token
        - masterPinCode
      type: object
      properties:
        token:
          type: string
        masterPinCode:
          type: string
      example:
        token: '123456'
        masterPinCode: '123456'
    BusinesspinCodeverifyRequest:
      title: BusinesspinCodeverifyRequest
      required:
        - masterPinCode
      type: object
      properties:
        masterPinCode:
          type: string
      example:
        masterPinCode: '123456'
    BusinessemailchangeRequest:
      title: BusinessemailchangeRequest
      required:
        - newEmail
      type: object
      properties:
        newEmail:
          type: string
      example:
        newEmail: test@yahoo.com
    BusinessupdateRequest:
      title: BusinessupdateRequest
      type: object
      properties:
        name:
          type: string
        vehicle:
          type: string
        phone:
          type: array
          items:
            type: string
          description: ''
        fawryPhone:
          type: string
        desc:
          type: string
        estimatedWeeklyDeliveries:
          type: string
        website:
          type: string
        type:
          type: string
        logo:
          type: string
        address:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: ''
        paymentInfo:
          $ref: '#/components/schemas/PaymentInfo'
        bankInfo:
          $ref: '#/components/schemas/BankInfo'
        priceListId:
          type: string
        pickupAddress:
          type: array
          items:
            $ref: '#/components/schemas/PickupAddress'
          description: ''
        businessUpdatedData:
          $ref: '#/components/schemas/BusinessUpdatedData'
      example:
        name: business101
        vehicle: Car
        phone:
          - '+201003456789'
        fawryPhone: '+201003456789'
        desc: business 101 desc
        estimatedWeeklyDeliveries: 1 - 10
        website: www.google.com
        type: RETAIL_AND_SHOPPING
        logo: www.google.com
        address:
          - firstLine: el-mohandseen
            secondLine: el-mohandseen
            floor: '1'
            apartment: '1'
            city:
              _id: FceDyHXwpSYYF9zGW
              name: cairo
        paymentInfo:
          paymentFrequency: Weekly
          paymentSchedule: Sunday
          paymentTransferMethod: Cash
          paymentWay: Net COD
          businessCategory: Bronze
        bankInfo:
          beneficiaryName: test
          accountNumber: '123'
          bankName: cib
        priceListId: ''
        pickupAddress:
          - firstLine: el-mohandseen
            secondLine: el-mohandseen
            floor: '1'
            apartment: '1'
            city:
              _id: FceDyHXwpSYYF9zGW
              name: cairo
            district: Abu Rawash
            buildingType: 0
        businessUpdatedData:
          name: business101
          website: www.google.com
          salesChannel: INSTAGRAM_SELLER
          industry: industry
    BusinessemailverifyRequest:
      title: BusinessemailverifyRequest
      required:
        - verificationToken
      type: object
      properties:
        verificationToken:
          type: string
      example:
        verificationToken: '12345'
    BusinessupdatephoneRequest:
      title: BusinessupdatephoneRequest
      required:
        - phone
      type: object
      properties:
        phone:
          type: string
          description: The new phone number to update for the business. Must be a valid phone number format.
          example: '01038594038'
      example:
        phone: '01038594038'

    ContactPerson:
      title: Contacts
      required:
        - firstName
        - lastName
        - phone
        - isDefault
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        phone:
          type: string
        isDefault:
          type: boolean
        email:
          type: string
        secPhone:
          type: string
      example:
        name: test
        email: test
        phone: test
        isDefault: 'true'
    CreatepickuplocationsRequest:
      title: CreatepickuplocationsRequest
      required:
        - locationName
        - contacts
        - address
      type: object
      properties:
        locationName:
          type: string
        contacts:
          $ref: '#/components/schemas/ContactPerson'
        address:
          $ref: '#/components/schemas/AddressCreatePickUpLocation'
      example:
        locationName: business101
        contactPerson:
          name: test
          email: test
          phone: test
        address:
          firstLine: el-mohandseen
          floor: '1'
          apartment: '1'
          city:
            _id: FceDyHXwpSYYF9zGW
            name: cairo
          district: cairo
    UpdatepickupLocationRequest:
      title: UpdatepickupLocationRequest
      required:
        - locationName
        - contactPerson
        - address
        - contacts
      type: object
      properties:
        locationName:
          type: string
        contactPerson:
          $ref: '#/components/schemas/ContactPerson'
        contacts:
          $ref: '#/components/schemas/Contacts'
        address:
          $ref: '#/components/schemas/AddressCreatePickUpLocation'
      example:
        locationName: business101
        contactPerson:
          name: test
          email: test
          phone: test
        address:
          firstLine: el-mohandseen
          floor: '1'
          apartment: '1'
          city:
            _id: FceDyHXwpSYYF9zGW
            name: cairo
          district: cairo
    Address1:
      title: Address1
      required:
        - firstLine
        - floor
        - apartment
        - city
        - district
      type: object
      properties:
        firstLine:
          type: string
        floor:
          type: string
        apartment:
          type: string
        city:
          $ref: '#/components/schemas/City'
        district:
          type: string
      example:
        firstLine: el-mohandseen
        floor: '1'
        apartment: '1'
        city:
          _id: FceDyHXwpSYYF9zGW
          name: cairo
        district: cairo
    GroupsCreate:
      title: GroupsCreate
      required:
        - name
        - access
        - roles
      type: object
      properties:
        name:
          type: string
        access:
          $ref: '#/components/schemas/GroupAccess'
    GroupAccess:
      title: GroupAccess
      required:
        - resource
        - permission
        - scope
      type: object
      properties:
        resource:
          type: string
        permission:
          $ref: '#/components/schemas/Permission'
        scope:
          $ref: '#/components/schemas/Scope'
      example:
        resource: DELIVERY
        permission:
          READ: true
          EDIT: true
          WRITE: true
          DELETE: true
        scope:
          READ_MANY: true
          EDIT_MANY: true
          WRITE_MANY: true
          DELETE_MANY: false
    Permission:
      title: Permission
      required:
        - READ
        - EDIT
        - WRITE
        - DELETE
      type: object
      properties:
        READ:
          type: boolean
        EDIT:
          type: boolean
        WRITE:
          type: boolean
        DELETE:
          type: boolean
      example:
        READ: true
        EDIT: true
        WRITE: true
        DELETE: true
    Scope:
      title: Permission
      required:
        - READ_MANY
        - EDIT_MANY
        - WRITE_MANY
        - DELETE_MANY
      type: object
      properties:
        READ_MANY:
          type: boolean
        EDIT_MANY:
          type: boolean
        WRITE_MANY:
          type: boolean
        DELETE_MANY:
          type: boolean
      example:
        READ_MANY: true
        EDIT_MANY: true
        WRITE_MANY: true
        DELETE_MANY: false
    JoinBusinessUser:
      title: JoinBusinessUser
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        profile:
          type: object
          properties:
            firstName:
              type: string
            lastName:
              type: string
            phone:
              type: string
        invitationToken:
          type: number
      example:
        invitationToken: 9025
        email: user@yahoo.com
        password: ABab12#qwe
        profile:
          firstName: User
          lastName: User
          phone: '01028364738'
    UpdateBusinessProfileInfo:
      title: UpdateBusinessProfileInfo
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
      example:
        firstName: Business
        lastName: Test
    GeneratePersonalInfoOTP:
      title: GeneratePersonalInfoOTP
      type: object
      properties:
        phone:
          type: string
        email:
          type: string
      example:
        phone: '010934599712'
        email: bosta-test@gamil.com
    ConfirmPersonalInfoOTP:
      title: ConfirmPersonalInfoOTP
      type: object
      properties:
        personalInfoOtp:
          type: string
        phoneUpdateOtp:
          type: string
        emailUpdateOtp:
          type: string
      required :
        - personalInfoOtp
      example:
        emailUpdateOtp: '0934'
    confirmPaymentOtp:
      title: confirmPaymentOtp
      type: object
      properties:
        paymentInfoOtp:
          type: string
      example:
        paymentInfoOtp: '3663'
    LoginRequest:
      title: LoginRequest
      type: object
      properties:
        email:
          type: string
          description: User email address.
        password:
          type: string
          description: User password.
        otp:
          type: string
          description: One-Time Password required when 2FA is enabled.
          example: "123123"
      required:
        - email
        - password
    BusinessverifyphoneRequest:
      title: BusinessverifyphoneRequest
      example:
        fawryPhone: '01123456709'
        phone: '01123456709'
      type: object
      properties:
        phone:
          type: string
        fawryPhone:
          type: string
    BusinessconfirmphoneRequest:
      title: BusinessconfirmphoneRequest
      example:
        phone: '01123456709'
        token: '6743'
        isFawry: false
      type: object
      properties:
        phone:
          type: string
        token:
          type: string
        isFawry:
          type: boolean
    UserforgetpasswordRequest:
      title: UserforgetpasswordRequest
      type: object
      required:
        - email
      properties:
        email:
          type: string
          description: Email address of the user requesting a password reset.
          example: admin@business.com
        source:
          type: string
          description: Identifier of the request source .
          enum: [0, 1]
          example: "1"
          default : "1"
    ResetPasswordRequest:
      title: ResetPasswordRequest
      type: object
      required:
        - password
      properties:
        password:
          type: string
          example: "Abcd1234@"
    RefreshtokenRequest:
      title: RefreshtokenRequest
      example:
        refreshToken: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6ImlQVU93RnFidCIsInJvbGVzIjpbIkJVU0lORVNTX0FETUlOIl0sImJ1c2luZXNzQWRtaW5JbmZvIjp7ImJ1c2luZXNzSWQiOiI2aWJHN2N0elQiLCJidXNpbmVzc05hbWUiOiJ0ZXN0IGJ1c2luZXNzIHYyIn0sImVtYWlsIjoidGVzdEB5YWhvby5jb20iLCJpYXQiOjE2MTEwNDQ4MjgsImV4cCI6MTYxMzYzNjgyOH0.hQDxkDTX67xnBC_P5bZ4kWa7t66Ly8wuFaNL3y_KKfQ
      required:
        - refreshToken
      type: object
      properties:
        refreshToken:
          type: string
    BusinessverifymailRequest:
      title: BusinessverifymailRequest
      example:
        email: test@yahoo.com
      required:
        - email
      type: object
      properties:
        email:
          type: string
    BusinessconfirmmailRequest:
      title: BusinessconfirmmailRequest
      example:
        token: ee959df3a8e3a0cca1ec59343a2b67c916c2fa77
      required:
        - token
      type: object
      properties:
        token:
          type: string
    BusinessadminverifyphoneRequest:
      title: BusinessadminverifyphoneRequest
      example:
        phone: '01123456709'
      required:
        - phone
      type: object
      properties:
        phone:
          type: string
    BusinessadminconfirmphoneRequest:
      title: BusinessadminconfirmphoneRequest
      example:
        phone: '01123456709'
        token: '1231'
      required:
        - phone
        - token
      type: object
      properties:
        phone:
          type: string
        token:
          type: string
    UpdateBusinessUserGroup:
      title: UpdateBusinessUserGroup
      type: object
      required:
        - userId
      oneOf:
        - required: [groupId]
          properties:
            groupId:
              type: string
              description: >
                The ID of a predefined access group to assign to the user.
                Each group grants a fixed, named set of permissions with no further customisation.
                Available groups:

                  - `XaqlCD`    **Default Access** - Read-only access to shipments, pickup requests, and
                    basic business profile information. Suitable for team members who only need
                    visibility without making changes.

                  - `XaqlCT`    **Tech Access** – Everything in Default Access plus the ability to manage
                    API keys and configure integrations (webhooks, plugins, third-party platforms).
                    Intended for developers and technical staff.

                  - `XaylCTM`   **Team Management Access** – Everything in Default Access plus the ability
                    to invite, remove, and update the roles of other team members.
                    Intended for team leads or office managers.

                  - `XbOlCTM`   **Tech + Team Management Access** – Combines Tech and Team Management.

                  - `XaqmCW`    **Wallet Access** – Provides access to payout methods, wallet balance, and
                    transaction history. Does not include shipment or team management capabilities.
                    Intended for finance staff who only handle payments.

                  - `XbFlCWT`   **Wallet + Tech Access** – Combines Wallet and Tech.

                  - `XbJlCWTM`  **Wallet + Team Management Access** – Combines Wallet and Team Management.

                  - `XbclCWTMT` **Wallet + Tech + Team Management Access** – Combines Wallet, Tech, and Team Management.

                  - `XaqlCF`    **Finance Access** – Access to financial reports, invoices, and transaction
                    records. Broader financial visibility than Wallet Access alone.

                  - `XbDlCFT`   **Finance + Tech Access** – Combines Finance and Tech.

                  - `XbElCFTT`  **Finance + Team Management Access** – Combines Finance and Team Management.

                  - `XbclCFW`   **Finance + Wallet Access** – Combines Finance and Wallet.

                  - `XbclCFWT`  **Finance + Wallet + Tech Access** – Combines Finance, Wallet, and Tech.

                  - `XbclCFTMT` **Finance + Tech + Team Management Access** – Combines Finance, Tech, and Team Management.

                  - `XbclCFWTM` **Finance + Wallet + Team Management Access** – Combines Finance, Wallet, and Team Management.

                  - `XaqlCFA`   **Full Access** – Unrestricted access to all business features including
                    shipments, team management, API integrations, wallet, finance, and settings.
                    Reserved for business owners or senior administrators.

                  - `ZaqlCD` **Editor Default Access**

                  - `ZaqlCT` **Editor Tech Access**

                  - `ZaylCTM` **Editor Team Management Access**

                  - `ZbOlCTM` **Editor Tech + Team Management Access**

                  - `ZaqmCW` **Editor Wallet Access**
              enum:
                - XaqlCD
                - XaqlCT
                - XaylCTM
                - XbOlCTM
                - XaqmCW
                - XbFlCWT
                - XbJlCWTM
                - XbclCWTMT
                - XaqlCF
                - XbDlCFT
                - XbElCFTT
                - XbclCFW
                - XbclCFWT
                - XbclCFTMT
                - XbclCFWTM
                - XaqlCFA
                - ZaqlCD
                - ZaqlCT
                - ZaylCTM
                - ZbOlCTM
                - ZaqmCW
              example: XaqlCFA
        - required: [groupBaseCodes]
          properties:
            groupBaseCodes:
              type: array
              description: >
                An array of at least 2 permission module codes used to dynamically resolve
                a composite access group. The system looks up the group whose permission
                set is the exact union of the provided module codes.

                Use this field instead of `groupId` when you want to describe the desired
                permissions by their constituent modules rather than by a fixed group ID.

                **Available permission module codes** (provide at least 2):

                  - `101` **Tech** – API key management and third-party integration configuration.
                  - `102` **Team Management** – Invite, remove, and update roles of team members.
                  - `104` **Wallet** – View payout methods, wallet balance, and transactions.
                  - `108` **Finance** – Access financial reports, invoices, and billing records.

                **Supported combinations:**

                  - `[101, 102]`       Tech + Team Management
                  - `[101, 104]`       Tech + Wallet
                  - `[102, 104]`       Team Management + Wallet
                  - `[101, 102, 104]`  Tech + Team Management + Wallet
                  - `[101, 108]`       Tech + Finance
                  - `[102, 108]`       Team Management + Finance
                  - `[104, 108]`       Wallet + Finance
                  - `[101, 104, 108]`  Tech + Wallet + Finance
                  - `[101, 102, 108]`  Tech + Team Management + Finance
                  - `[102, 104, 108]`  Team Management + Wallet + Finance
              minItems: 2
              items:
                type: integer
                enum: [101, 102, 104, 108]
              example: [101, 102]
      properties:
        userId:
          type: string
          description: The ID of the business user whose group is to be updated.
          example: aBcDeFgHiJkLmNoPqRsTu
        receiveReturnEmails:
          type: boolean
          description: Whether the user should receive return-related email notifications.
          example: true
        receivePickupEmails:
          type: boolean
          description: Whether the user should receive pickup-related email notifications.
          example: false
        isAnalyticsBlocked:
          type: boolean
          description: Whether the user's activity should be excluded from analytics tracking.
          example: false

      example:
        userId: aBcDeFgHiJkLmNoPqRsTu
        groupId: XaqlCFA
        receiveReturnEmails: true
        receivePickupEmails: false
        isAnalyticsBlocked: false

    BusinessUpdateFeatureViews:
      title: BusinessUpdateFeatureViews
      type: object
      properties:
        storeDesign:
          type: boolean
          description: Whether the store design feature page has been viewed.
        discountsPage:
          type: boolean
          description: Whether the discounts page feature has been viewed.
        chats:
          type: boolean
          description: Whether the chats feature has been viewed.
        categoriesPage:
          type: boolean
          description: Whether the categories page feature has been viewed.
        personalInfo:
          type: boolean
          description: Whether the personal info section has been viewed.
        paymentInfo:
          type: boolean
          description: Whether the payment info section has been viewed.
        accountPreferences:
          type: boolean
          description: Whether the account preferences section has been viewed.
        plugins:
          type: boolean
          description: Whether the plugins section has been viewed.
        teamsMembers:
          type: boolean
          description: Whether the team members section has been viewed.
        pricingPlan:
          type: boolean
          description: Whether the pricing plan section has been viewed.
        overviewPage:
          type: boolean
          description: Whether the overview page has been viewed.
        bostaBox:
          type: boolean
          description: Whether the Bosta Box feature has been viewed.
        bannerViewed:
          type: boolean
          description: Whether the promotional banner has been viewed.
        fulfillmentInfo:
          type: boolean
          description: Whether the fulfillment info section has been viewed.
        analyticsPage:
          type: boolean
          description: Whether the analytics page has been viewed.
        businessFlyers:
          type: boolean
          description: Whether the business flyers feature has been viewed.
        productsPage:
          type: boolean
          description: Whether the products page has been viewed.
        productsSllrPage:
          type: boolean
          description: Whether the Sllr products page has been viewed.
        productsCatalogPage:
          type: boolean
          description: Whether the products catalog page has been viewed.
        returnOtpFlow:
          type: boolean
          description: Whether the return OTP flow feature has been viewed.
        pickupFlow:
          type: boolean
          description: Whether the pickup flow feature has been viewed.
        isBusinessCustomersTabViewed:
          type: boolean
          description: Whether the business customers tab has been viewed.
        productReviews:
          type: boolean
          description: Whether the product reviews feature has been viewed.
      example:
        storeDesign: true
        discountsPage: true
        chats: true
        categoriesPage: true
        personalInfo: true
        paymentInfo: true
        accountPreferences: true
        plugins: true
        teamsMembers: true
        pricingPlan: true
        overviewPage: true
        bostaBox: false
        bannerViewed: true
        fulfillmentInfo: true
        analyticsPage: true
        businessFlyers: true
        productsPage: true
        productsSllrPage: true
        productsCatalogPage: true
        returnOtpFlow: true
        pickupFlow: true
        isBusinessCustomersTabViewed: true
        productReviews: true

    AddressDraft:
      title: Address
      type: object
      properties:
        firstLine:
          type: string
        secondLine:
          type: string
        floor:
          type: string
        apartment:
          type: string
        city:
          $ref: '#/components/schemas/City'
      example:
        firstLine: el-mohandseen
        secondLine: el-mohandseen
        floor: '1'
        apartment: '1'
        city:
          _id: FceDyHXwpSYYF9zGW
          name: cairo
    AddressCreateDelivery:
      title: Address
      required:
        - firstLine
        - city
      type: object
      oneOf:
        - required:
            - districtId
        - required:
            - districtName
            - cityId
      properties:
        city:
          type: string
          example: Helwan
        cityId:
          type: string
          example: FceDyHXwpSYYF9zGW
          description: Required when using districtName instead of districtId
        districtId:
          type: string
          example: aiJudRHeOt
          description: Required unless districtName and cityId are provided
        districtName:
          type: string
          example: Ahad Rafidah
          description: Must be paired with cityId when districtId is not provided
        zoneId:
          type: string
          example: MA6865309H
        firstLine:
          description: Must be more than 5 characters
          type: string
          example: Helwan street x
        secondLine:
          type: string
          example: Near to Bosta school
        floor:
          type: string
          example: '1'
        apartment:
          type: string
          example: '2'
        buildingNumber:
          type: string
          example: '12'
        isWorkAddress:
          type: boolean
          example: true
      example:
        city: Helwan
        zoneId: NQz5sDOeG
        districtId: aiJudRHeOt
        firstLine: Helwan street x
        secondLine: Near to Bosta school
        floor: '1'
        apartment: '2'
        buildingNumber: '12'
        isWorkAddress: 'false'
    AddressCreateDelivery_returnAddress:
      title: Address
      required:
        - firstLine
        - city
        - districtId
      type: object
      properties:
        city:
          type: string
          example: Helwan
        zoneId:
          type: string
          example: NQz5sDOeG
        districtId:
          type: string
          example: aiJudRHeOt
        firstLine:
          description: Must be more than 5 characters
          type: string
          example: Helwan street x
        secondLine:
          type: string
          example: Near to Bosta school
        floor:
          type: string
          example: '1'
        apartment:
          type: string
          example: '2'
        buildingNumber:
          type: string
          example: '12'
        isWorkAddress:
          type: boolean
          example: true
      # example:
      #   city: Helwan
      #   zoneId: NQz5sDOeG
      #   districtId: aiJudRHeOt
      #   firstLine: Helwan street x
      #   secondLine: Near to Bosta school
      #   floor: '1'
      #   apartment: '2'
      #   buildingNumber: '12'
      #   isWorkAddress: 'false'
    AddressCreatePickUpLocation:
      title: Address
      required:
        - firstLine
        - city
        - districtId
      type: object
      properties:
        districtId:
          type: string
        firstLine:
          type: string
        secondLine:
          type: string
        floor:
          type: string
        apartment:
          type: string
        buildingNumber:
          type: string
        city:
          type: string
      example:
        districtId: egab66b9nm
        firstLine: maadi
    BusinessadddeliveryRequest:
      type: object
      required:
        - type
        - cod
      properties:
        type:
          type: number
          description: Indicates the order type (deliver, cash collection, exchange, customer return pickup)
          example: 10 or 15 or 30 or 25
        specs:
          type: object
          properties:
            size:
              type: string
              example: SMALL or MEDIUM or LARGE or Light Bulky or Heavy Bulky
            packageType:
              type: string
              example: Parcel or Document or Light Bulky or Heavy Bulky
            packageDetails:
              type: object
              properties:
                itemsCount:
                  type: number
                  example: 5
                description:
                  type: string
                  example: Desc.
        returnSpecs:
          type: object
          description: For CRP and Exchange orders to define specs of returned shipment.
          properties:
            size:
              type: string
              example: SMALL or MEDIUM or LARGE or Light Bulky or Heavy Bulky
            packageType:
              type: string
              example: Parcel or Document or Light Bulky or Heavy Bulky
            packageDetails:
              type: object
              properties:
                itemsCount:
                  type: number
                  example: 5
                description:
                  type: string
                  example: Desc.
        productInfo:
          type: object
          properties:
            _id:
              type: string
              description: The ID of the specific product variant included in the package, retrieved from the "List Products" API. If no variants exist, the _id will correspond to the defaultCreatedVarianceId. Otherwise, it will match the id of the required variant.
              example: '14389'
            quantity:
              type: number
              example: 3
            productType:
              type: string
              example: forward or return

        goodsInfo:
          type: object
          properties:
            amount:
              type: number
              description: The accurate price value for the item being shipped (item value)
              example: 100

        notes:
          type: string
          example: Notes about shipment
        returnNotes:
          type: string
          description: Notes only for Exchange or CRP orders
          example: Notes about returned shipment
        cod:
          type: number
          description: cash amount to be collected from the customer upon delivery (can be negative for CRP order with refund). The limit is 30,000 EGP
          example: 50 (-50 for CRP order with refund)
        dropOffAddress:
          description: Address of the customer to which the order will be delivered
          $ref: '#/components/schemas/AddressCreateDelivery'
        pickupAddress:
          description: For Exchange orders only, Address of the business location to return the exchanged order to.
          $ref: '#/components/schemas/AddressCreateDelivery'
        returnAddress:
          description: Address of the business location to return the returned order to.
          $ref: '#/components/schemas/AddressCreateDelivery_returnAddress'
        allowToOpenPackage:
          description: If true, the customer will be able to open the package before receiving it.
          type: boolean
          example: true
        businessReference:
          description: An ID that uniquely identifies the order to your business
          type: string
          example: '43535252'
        uniqueBusinessReference:
          description: 'A unique identifier for your order. This reference must be unique across all orders in your system and should not be duplicated.'
          type: string
          example: '12434'
        receiver:
          description: Customer that will receive the order
          required:
            - firstName
            - phone
          type: object
          properties:
            firstName:
              type: string
              example: Sasuke
            lastName:
              type: string
              example: Uchiha
            fullName:
              type: string
              example: Sasuke Uchiha
            phone:
              type: string
              example: '01065685435'
            secondPhone:
              type: string
              example: '01065685435'
            email:
              type: string
              example: ahmed@ahmed.com
        webhookUrl:
          description: Webhook URL to receive delivery status updates
          type: string
          example: https://www.yourWebhookURL.com/
        webhookCustomHeaders:
          type: object
          properties:
            Authorization:
              type: string
              example: Basic abc123
        businessLocationId:
          description: The location id from which your order will be pickup up or returned to
          type: string
          example: LN498564956
        flexShippingInfo:
          type: object
          description: If the order is eligible, the specified amount will be collected from the customer if they refuse to receive the shipment.
          properties:
            isOrderEligible:
              type: boolean
              example: true
            amountToBeCollected:
              type: number
              example: 100
    BusinessAddBulkDeliveriesRequest:
      type: object
      properties:
        deliveries:
          type: array
          items:
            $ref: '#/components/schemas/BusinessadddeliveryRequest'
    BusinessUpdateDeliveryRequest:
      type: object
      required:
        - type
        - cod
        - receiver
      properties:
        specs:
          type: object
          properties:
            size:
              type: string
              example: SMALL
            packageDetails:
              type: object
              properties:
                itemsCount:
                  type: number
                  example: 5
                document:
                  type: string
                  example: Document
                description:
                  type: string
                  example: Desc.
        returnSpecs:
          type: object
          description: For CRP and Exchange orders to define specs of returned shipment.
          properties:
            size:
              type: string
              example: SMALL
            packageDetails:
              type: object
              properties:
                itemsCount:
                  type: number
                  example: 5
                document:
                  type: string
                  example: Document
                description:
                  type: string
                  example: Desc.
        notes:
          type: string
          example: Welcome Note
        cod:
          type: number
          example: 50
        dropOffAddress:
          $ref: '#/components/schemas/AddressCreateDelivery'
        returnAddress:
          description: For Exchange orders only, Address of the business location to return the exchanged order to.
          $ref: '#/components/schemas/AddressCreateDelivery_returnAddress'
        allowToOpenPackage:
          type: boolean
          example: true
        businessReference:
          type: string
          example: '43535252'
        receiver:
          type: object
          properties:
            firstName:
              type: string
              example: Sasuke
            lastName:
              type: string
              example: Uchiha
            fullName:
              type: string
              example: Sasuke Uchiha
            phone:
              type: string
              example: '01065685435'
            secondPhone:
              type: string
              example: '01065685435'
            email:
              type: string
              example: ahmed@ahmed.com
        imageUrl:
          type: string
          example: https://storage.googleapis.com/bosta-files/soho-deliveries-photos/UMIFlGky3hPO15eAkxFmM/9850609.png
        securitySealCode:
          type: string
          example: '155'
    DeliverySearchParams:
      type: object
      properties:
        type:
          type: string
          description: Type of the delivery (SEND, CASH_COLLECTION, RETURN, RTO, EXCHANGE, CUSTOMER_RETURN_PICKUP)
          example: SEND
          items:
            type: string
        trackingNumbers:
          description: Tracking numbers of the deliveries to be searched for. If more than one tracking number, they should be separated by a comma.
          type: array
          example: '5108002, 5108003'
          items:
            type: string
        # numberOfAttempts:
        #   type: number
        #   example: '1'
        # customersFirstNames:
        #   type: string
        #   example: Ahmed
        # customersLastNames:
        #   type: string
        #   example: Ahmad
        # customersFullNames:
        #   type: string
        mobilePhones:
          description: Customer phone numbers to be searched for.
          type: string
          example: '01234567890'
          items:
            type: string
        # notes:
        #   type: string
        #   example: Note
        businessReference:
          description: Business reference to be searched for.
          type: string
          example: '7221'
        stateCodes:
          description: array of state codes to be searched for.
          type: array
          example: ['10', '40', '45']
          items:
            type: string
        # pickupDistrict:
        #   type: string
        #   items:
        #     type: string
        # dropOffZoneIds:
        #   type: string
        #   items:
        #     type: string
        # dropOffCityIds:
        #   type: string
        #   items:
        #     type: string
        # dropOffDistrict:
        #   type: string
        #   items:
        #     type: string
        # customerCityIds:
        #   type: string
        # customerZoneIds:
        #   type: string
    DeliveryEditBody:
      type: object
      properties:
        allowToOpenPackage:
          description: If true, the customer will be able to open the package before receiving it.
          type: boolean
          example: false
        cod:
          description: Cash amount to be collected from the customer upon delivery (can be negative for CRP order with refund). The limit is 30,000 EGP
          type: number
          example: 100
        dropOffAddress:
          description: Address of the customer to which the order will be delivered
          type: object
          properties:
            districtId:
              example: Iy7-lFD0BE0
              type: string
            firstLine:
              type: string
              example: el-mohandseen, street x
            secondLine:
              type: string
              example: Near to Bosta school
            floor:
              type: string
              example: '1'
            apartment:
              type: string
              example: '1'
            buildingNumber:
              type: string
              example: '44'
            isWorkAddress:
              type: boolean
              example: true
            city:
              type: string
              example: Cairo
          example:
            districtId: Iy7-lFD0BE0
            firstLine: el-mohandseen
            secondLine: el-mohandseen
            floor: '1'
            apartment: '1'
            city:
              _id: FceDyHXwpSYYF9zGW
              name: cairo
        receiver:
          description: Customer that will receive the order
          type: object
          properties:
            phone:
              type: string
              example: '01065685435'
            secondPhone:
              type: string
              example: '01065685435'
    takePendingActions:
      required:
        - action
      type: object
      properties:
        action:
          type: number
          enum:
            - 1
            - 2
            - 3
            - 4
        address:
          $ref: '#/components/schemas/AddressCreateDelivery'
        phone:
          type: string
          example: '01065685435'
        secondPhone:
          type: string
          example: '01065685435'
    Contacts:
      title: Contacts
      type: array
      items:
        required:
          - firstName
          - lastName
          - phone
          - isDefault
        properties:
          name:
            type: string
          firstName:
            type: string
          lastName:
            type: string
          email:
            type: string
          phone:
            type: string
          secPhone:
            type: string
          isDefault:
            type: boolean
        example:
          firstName: mohamed
          isDefault: 'true'
          lastName: magdy
          name: mohamed  magdy
          phone: '01063535663'
    DraftOrder:
      title: CreateOrUpdate draft order
      example:
        allowToOpenPackage: 'true'
        cod: '5000'
        dropOffAddress:
          apartment: '22'
          buildingNumber: '1'
          districtId: g_Jm66OFdv-
          floor: '2'
          secondLine: جمب الشجره
          firstLine: 30 mostafa reda
        notes: Delivery Notes
        receiver:
          secondPhone: '01063252662'
          phone: '01063252663'
          fullName: 'ماجد '
        specs:
          packageDetails:
            description: Package Description
            itemsCount: '10'
        type: 10
      type: object
      properties:
        allowToOpenPackage:
          type: boolean
        cod:
          type: number
        dropOffAddress:
          type: object
        notes:
          type: string
        receiver:
          type: object
        specs:
          type: object
        type:
          type: string
    CreateMarketplaceProductRequest:
      title: CreateMarketPlaceProductRequest
      example:
        title: product title
        description: product description
        price: 5
      required:
        - title
        - price
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number
    UpdateMarketplaceProductRequest:
      title: UpdateMarketplaceProductRequest
      example:
        title: updated product title
        description: updated product description
        price: 6
        disabled: true
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        price:
          type: number
        disabled:
          type: boolean
    CheckoutMarketPlaceProductRequest:
      title: CheckoutMarketPlaceProductRequest
      required:
        - type
        - creationSrc
      example:
        allowToOpenPackage: 'true'
        cod: '5000'
        dropOffAddress:
          apartment: '22'
          buildingNumber: '1'
          districtId: g_Jm66OFdv-
          floor: '2'
          secondLine: جمب الشجره
          firstLine: 30 mostafa reda
        notes: Delivery Notes
        receiver:
          secondPhone: '01063252662'
          phone: '01063252663'
          fullName: 'ماجد '
        specs:
          packageDetails:
            description: Package Description
            itemsCount: '10'
        type: SEND
        creationSrc: MARKETPLACE
      type: object
      properties:
        allowToOpenPackage:
          type: boolean
        cod:
          type: number
        dropOffAddress:
          type: object
        notes:
          type: string
        receiver:
          type: object
        specs:
          type: object
        type:
          type: string
        creationSrc:
          type: string

    BusinessFeaturesViewsResponse:
      title: BusinessFeaturesViewsResponse
      example:
        success: true
        message: Done successfully.
        data:
          storeDesign: true
          discountsPage: true
          chats: true
          categoriesPage: true
          personalInfo: true
          paymentInfo: true
          accountPreferences: true
          plugins: true
          pricingPlan: true
          teamsMembers: true
          overviewPage: true
          bostaBox: false
          bostaBorrow: false
          bannerViewed: true
          analyticsPage: true
          fulfillmentInfo: true
          businessFlyers: true
          productsPage: true
          productsCatalogPage: true
          productsSllrPage: true
          returnOtpFlow: true
          pickupFlow: true
          isBusinessCustomersTabViewed: true
          productReviews: true
      type: object
      properties:
        success:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - Done successfully.
        data:
          type: object
          properties:
            storeDesign:
              type: boolean
              description: Whether the store design feature page has been viewed.
            discountsPage:
              type: boolean
              description: Whether the discounts page feature has been viewed.
            chats:
              type: boolean
              description: Whether the chats feature has been viewed.
            categoriesPage:
              type: boolean
              description: Whether the categories page feature has been viewed.
            personalInfo:
              type: boolean
              description: Whether the personal info section has been viewed.
            paymentInfo:
              type: boolean
              description: Whether the payment info section has been viewed.
            accountPreferences:
              type: boolean
              description: Whether the account preferences section has been viewed.
            plugins:
              type: boolean
              description: Whether the plugins section has been viewed.
            pricingPlan:
              type: boolean
              description: Whether the pricing plan section has been viewed.
            teamsMembers:
              type: boolean
              description: Whether the team members section has been viewed.
            overviewPage:
              type: boolean
              description: Whether the overview page has been viewed.
            bostaBox:
              type: boolean
              description: Whether the Bosta Box feature has been viewed.
            bostaBorrow:
              type: boolean
              description: Whether the Bosta Borrow feature has been viewed.
            bannerViewed:
              type: boolean
              description: Whether the promotional banner has been viewed.
            analyticsPage:
              type: boolean
              description: Whether the analytics page has been viewed.
            fulfillmentInfo:
              type: boolean
              description: Whether the fulfillment info section has been viewed.
            businessFlyers:
              type: boolean
              description: Whether the business flyers feature has been viewed.
            productsPage:
              type: boolean
              description: Whether the products page has been viewed.
            productsCatalogPage:
              type: boolean
              description: Whether the products catalog page has been viewed.
            productsSllrPage:
              type: boolean
              description: Whether the Sllr products page has been viewed.
            returnOtpFlow:
              type: boolean
              description: Whether the return OTP flow feature has been viewed.
            pickupFlow:
              type: boolean
              description: Whether the pickup flow feature has been viewed.
            isBusinessCustomersTabViewed:
              type: boolean
              description: Whether the business customers tab has been viewed.
            productReviews:
              type: boolean
              description: Whether the product reviews feature has been viewed.

    UnauthorizedResponse:
      title: UnauthorizedResponse
      example:
        success: false
        message: Invalid authorization token or API key.
        errorCode: 1028

      type: object
      properties:
        success:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - Invalid authorization token or API key.
        errorCode:
          type: number
          enum:
            - 1028

    InternalServerErrorResponse:
      title: InternalServerErrorResponse
      example:
        success: false
        message: Internal Server Error
        errorCode: 1000

      type: object
      properties:
        success:
          type: boolean
          enum:
            - false

        message:
          type: string
          enum:
            - Internal Server Error

        errorCode:
          type: number
          enum:
            - 1000

    BadRequestResponse:
      title: BadRequestResponse
      type: object
      example:
        success: false
        message: name is required
        errorCode: 777
        # data: null
      properties:
        success:
          type: boolean
          enum:
            - false
        message:
          type: string
        errorCode:
          type: number
        # data:
        #   type: object
        #   nullable: true

    CreateBusinessRequest:
      title: CreateBusinessRequest
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The business display name.
        arabicName:
          type: string
          description: The business display name in Arabic.
        website:
          type: string
          description: The business website URL.
        salesChannel:
          type: array
          description: The sales channels through which the business operates (e.g. INSTAGRAM_SELLER).
          items:
            type: string
        monthlyShipmentVolume:
          type: string
          description: >
            The expected monthly shipment volume tier. PRO tiers are for
            Pro-tier businesses; LITE tiers are for Lite/SOHO-tier businesses.
            Higher numbers indicate higher volumes.
          enum: [PRO_1, PRO_2, PRO_3, LITE_1, LITE_2, LITE_3]
        isBankInfoSkipped:
          type: boolean
          description: Whether the business chose to skip providing bank information during onboarding.
        isLegalInfoSkipped:
          type: boolean
          description: Whether the business chose to skip providing legal information during onboarding.
        businessLegalInfo:
          type: object
          description: Legal and compliance information for the business.
          required:
            - haveCommercialId
          properties:
            haveCommercialId:
              type: boolean
              description: Whether the business has a commercial registration ID.
            legalBusinessName:
              type: string
              description: The official registered legal name of the business.
            identityNumber:
              type: string
              description: Owner's national identity number.
            birthDate:
              type: string
              format: date
              description: Owner's date of birth.
            freelanceCertificateNumber:
              type: string
              description: Freelance certificate number, for sole proprietors.
            commercialRegisterNumber:
              type: string
              description: Commercial register number issued by the relevant authority.
            vatId:
              type: string
              description: VAT registration ID.
            businessNationalIdNumber:
              type: string
              description: Business owner's national ID number.
            businessTaxRegNumber:
              type: string
              description: Tax registration number.
        industry:
          type: string
          description: The industry or sector the business operates in.
        refLink:
          type: string
          description: Referral link associated with the business registration.
        campaign:
          type: string
          description: Marketing campaign name associated with the business registration.
        channel:
          type: string
          description: Marketing channel through which the business registered (e.g. Facebook, Google).
        promoCode:
          type: string
          description: Promotional code applied at registration.
        autoCreatePickups:
          type: boolean
          description: When true, pickup requests are automatically created whenever new orders are placed.
        marketPlaceRole:
          type: string
          description: >
            The role of this business in a marketplace setup.
            AGGREGATOR manages vendors; VENDOR is a seller under an aggregator;
            NONE means the business is not part of a marketplace.
          enum: [AGGREGATOR, VENDOR, NONE]

      example:
        name: My Business
        arabicName: عملي
        website: https://www.mybusiness.com
        salesChannel:
          - INSTAGRAM_SELLER
          - WEBSITE
        monthlyShipmentVolume: PRO_2
        isBankInfoSkipped: false
        isLegalInfoSkipped: false
        businessLegalInfo:
          haveCommercialId: true
          legalBusinessName: My Business LLC
          identityNumber: '29001011234567'
          birthDate: '1990-01-01'
          commercialRegisterNumber: '12345678'
          vatId: 'VAT123456'
          businessNationalIdNumber: '12345678901234'
          businessTaxRegNumber: '123456789'
        industry: E-Commerce
        refLink: https://ref.bosta.co/mybusiness
        campaign: spring_sale
        channel: organic
        promoCode: BOSTA10
        autoCreatePickups: true
        marketPlaceRole: NONE

    InviteUserRequest:
      type: object
      required:
        - email
        - name
      # one of groupId or groupBaseCodes must be present
      oneOf:
        - required: [groupId]
          properties:
            groupId:
              type: string
              description: >
                The ID of a predefined access group to assign to the invited user.
                Each group grants a fixed, named set of permissions with no further customisation.
                Available groups:

                  - `XaqlCD`    **Default Access** - Read-only access to shipments, pickup requests, and
                    basic business profile information. Suitable for team members who only need
                    visibility without making changes.

                  - `XaqlCT`    **Tech Access** – Everything in Default Access plus the ability to manage
                    API keys and configure integrations (webhooks, plugins, third-party platforms).
                    Intended for developers and technical staff.

                  - `XaylCTM`   **Team Management Access** – Everything in Default Access plus the ability
                    to invite, remove, and update the roles of other team members.
                    Intended for team leads or office managers.

                  - `XbOlCTM`   **Tech + Team Management Access** – Combines Tech and Team Management.

                  - `XaqmCW`    **Wallet Access** – Provides access to payout methods, wallet balance, and
                    transaction history. Does not include shipment or team management capabilities.
                    Intended for finance staff who only handle payments.

                  - `XbFlCWT`   **Wallet + Tech Access** – Combines Wallet and Tech.

                  - `XbJlCWTM`  **Wallet + Team Management Access** – Combines Wallet and Team Management.

                  - `XbclCWTMT` **Wallet + Tech + Team Management Access** – Combines Wallet, Tech, and Team Management.

                  - `XaqlCF`    **Finance Access** – Access to financial reports, invoices, and transaction
                    records. Broader financial visibility than Wallet Access alone.

                  - `XbDlCFT`   **Finance + Tech Access** – Combines Finance and Tech.

                  - `XbElCFTT`  **Finance + Team Management Access** – Combines Finance and Team Management.

                  - `XbclCFW`   **Finance + Wallet Access** – Combines Finance and Wallet.

                  - `XbclCFWT`  **Finance + Wallet + Tech Access** – Combines Finance, Wallet, and Tech.

                  - `XbclCFTMT` **Finance + Tech + Team Management Access** – Combines Finance, Tech, and Team Management.

                  - `XbclCFWTM` **Finance + Wallet + Team Management Access** – Combines Finance, Wallet, and Team Management.

                  - `XaqlCFA`   **Full Access** – Unrestricted access to all business features including
                    shipments, team management, API integrations, wallet, finance, and settings.
                    Reserved for business owners or senior administrators.

                  - `ZaqlCD` **Editor Default Access**

                  - `ZaqlCT` **Editor Tech Access**
                  
                  - `ZaylCTM` **Editor Team Management Access**

                  - `ZbOlCTM` **Editor Tech + Team Management Access**

                  - `ZaqmCW` **Editor Wallet Access**
              enum:
                - XaqlCD
                - XaqlCT
                - XaylCTM
                - XbOlCTM
                - XaqmCW
                - XbFlCWT
                - XbJlCWTM
                - XbclCWTMT
                - XaqlCF
                - XbDlCFT
                - XbElCFTT
                - XbclCFW
                - XbclCFWT
                - XbclCFTMT
                - XbclCFWTM
                - XaqlCFA
                - ZaqlCD
                - ZaqlCT
                - ZaylCTM
                - ZbOlCTM
                - ZaqmCW
              example: XaqlCFA
        - required: [groupBaseCodes]
          properties:
            groupBaseCodes:
              type: array
              description: >
                An array of at least 2 permission module codes used to dynamically resolve
                a composite access group. The system looks up the group whose permission
                set is the exact union of the provided module codes.

                Use this field instead of `groupId` when you want to describe the desired
                permissions by their constituent modules rather than by a fixed group ID.

                **Available permission module codes** (provide at least 2):

                  - `101` **Tech** – API key management and third-party integration configuration.
                  - `102` **Team Management** – Invite, remove, and update roles of team members.
                  - `104` **Wallet** – View payout methods, wallet balance, and transactions.
                  - `108` **Finance** – Access financial reports, invoices, and billing records.

                **Supported combinations:**

                  - `[101, 102]`       Tech + Team Management
                  - `[101, 104]`       Tech + Wallet
                  - `[102, 104]`       Team Management + Wallet
                  - `[101, 102, 104]`  Tech + Team Management + Wallet
                  - `[101, 108]`       Tech + Finance
                  - `[102, 108]`       Team Management + Finance
                  - `[104, 108]`       Wallet + Finance
                  - `[101, 104, 108]`  Tech + Wallet + Finance
                  - `[101, 102, 108]`  Tech + Team Management + Finance
                  - `[102, 104, 108]`  Team Management + Wallet + Finance
              minItems: 2
              items:
                type: integer
                enum: [101, 102, 104, 108]
              example: [101, 102]

      properties:
        email:
          type: string
          format: email
          description: The email address of the user to invite.
          example: user@example.com
        name:
          type: string
          description: Full name of the invited user.
          example: John Doe
        jobTitle:
          type: string
          description: Optional job title of the invited user.
          example: Software Engineer
        isAnalyticsBlocked:
          type: boolean
          description: Whether the user's access to analytics is blocked.
          default: false
          example: false

        receivePickupEmails:
          type: boolean
          description: Whether the user should receive email notifications for pickups.
          example: false

        receiveReturnEmails:
          type: boolean
          description: Whether the user should receive email notifications for returns.
          example: true

    BusinessUser:
      type: object
      properties:
        _id:
          type: string
          description: The unique identifier of the business user.
          example: aBcDeFgHiJkLmNoPqRsTu
        emails:
          type: array
          description: List of email addresses associated with the user.
          items:
            type: object
            properties:
              address:
                type: string
                format: email
                description: The email address of the user.
                example: user@example.com
              verified:
                type: boolean
                description: Whether the email address has been verified.
                example: true
        profile:
          type: object
          description: Personal profile information of the business user.
          properties:
            firstName:
              type: string
              description: The first name of the user.
              example: John
            lastName:
              type: string
              description: The last name of the user.
              example: Doe
            phone:
              type: string
              description: The primary phone number of the user.
              example: '+201000000000'
            jobTitle:
              type: string
              description: The job title or role of the user within the business.
              example: OWNER
        group:
          type: object
          description: The permission group assigned to the user.
          properties:
            _id:
              type: string
              description: The unique identifier of the group.
              example: XaqlCFA
            name:
              type: string
              description: The name of the permission group.
              example: BUSINESS_FULL_ACCESS
            code:
              type: integer
              description: The numeric code representing the permission group.
              example: 115
        state:
          type: object
          description: The current account state of the user.
          properties:
            code:
              type: integer
              description: The numeric code representing the user's account state.
              example: 20
            value:
              type: string
              description: The human-readable label of the user's account state (e.g. Active, Inactive).
              example: Active
            _id:
              type: string
              description: The unique identifier of the state record.
              example: aabbccddeeff001122334455
        organizationalAccount:
          type: boolean
          description: Whether this user is an organizational (admin-level) account rather than a regular user.
          example: true
        receiveReturnEmails:
          type: boolean
          description: Whether the user is configured to receive email notifications for return shipments.
          example: false
        receivePickupEmails:
          type: boolean
          description: Whether the user is configured to receive email notifications for pickup requests.
          example: false
      example:
        _id: aBcDeFgHiJkLmNoPqRsTu
        emails:
          - address: user@example.com
            verified: true
        profile:
          firstName: John
          lastName: Doe
          phone: '+201000000000'
        group:
          _id: XaqlCFA
          name: BUSINESS_FULL_ACCESS
          code: 115
        state:
          code: 20
          value: Active
          _id: aabbccddeeff001122334455
        organizationalAccount: true
        receiveReturnEmails: false
        receivePickupEmails: false

    ListBusinessUsersResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates whether the request was successful.
          enum:
            - true
        message:
          type: string
          description: A human-readable message describing the result of the request.
          enum:
            - Done successfully.
        data:
          type: object
          description: The paginated response payload containing the list of business users.
          properties:
            total:
              type: integer
              description: The total number of business users matching the query.
              example: 2
            list:
              type: array
              description: The array of business user objects for the current page.
              items:
                $ref: '#/components/schemas/BusinessUser'
            page:
              type: integer
              description: The current page number (1-based).
              example: 1
            limit:
              type: integer
              description: The maximum number of users returned per page.
              example: 50
            pages:
              type: integer
              description: The total number of pages available based on the total count and limit.
              example: 1
      example:
        success: true
        message: Done successfully.
        data:
          total: 2
          list:
            - _id: aBcDeFgHiJkLmNoPqRsTu
              emails:
                - address: user@example.com
                  verified: true
              profile:
                firstName: John
                lastName: Doe
                phone: '+201000000000'
              group:
                _id: XaqlCFA
                name: BUSINESS_FULL_ACCESS
                code: 115
              state:
                code: 20
                value: Active
                _id: aabbccddeeff001122334455
              organizationalAccount: true
              receiveReturnEmails: false
              receivePickupEmails: false
            - _id: bCdEfGhIjKlMnOpQrStUv
              emails:
                - address: another@example.com
                  verified: false
              profile:
                firstName: Jane
                lastName: Smith
                jobTitle: OWNER
              group:
                _id: XaqlCFA
                name: BUSINESS_FULL_ACCESS
                code: 115
              state:
                code: 10
                value: Pending
                _id: bbccddeeff0011223344556
              receiveReturnEmails: true
              receivePickupEmails: true
          page: 1
          limit: 50
          pages: 1

    ForbiddenResponse:
      title: ForbiddenResponse
      example:
        success: false
        message: Access to the requested resource is forbidden.
        errorCode: 1008

      type: object
      properties:
        success:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - Access to the requested resource is forbidden.
        errorCode:
          type: number
          enum:
            - 1008

    BusinessLogTakenBy:
      title: BusinessLogTakenBy
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the user who performed the action.
        email:
          type: string
          format: email
          description: Email address of the user who performed the action.
        roles:
          type: array
          description: List of roles assigned to the user who performed the action.
          items:
            type: string

    BusinessLog:
      title: BusinessLog
      type: object
      properties:
        type:
          type: string
          description: The type of log entry (e.g. STATUS_CHANGE_LOG).
          example: STATUS_CHANGE_LOG
        value:
          type: string
          description: The value recorded in the log entry (e.g. the new status value).
          example: Valid
        time:
          type: string
          format: date-time
          description: The timestamp when the log entry was created.
        takenBy:
          description: Information about the user who triggered this log entry.
          $ref: '#/components/schemas/BusinessLogTakenBy'

    BusinessAdminGroup:
      title: BusinessAdminGroup
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the admin group.
        name:
          type: string
          description: Display name of the admin group.
        code:
          type: integer
          description: Numeric code identifying the admin group.

    BusinessAdmin:
      title: BusinessAdmin
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the business admin user.
        name:
          type: string
          description: Full name of the business admin user.
        email:
          type: string
          format: email
          description: Email address of the business admin user.
        phone:
          type: string
          description: Phone number of the business admin user.
        group:
          description: The permission group assigned to this admin.
          $ref: '#/components/schemas/BusinessAdminGroup'
        receiveReturnEmails:
          type: boolean
          description: Whether this admin receives email notifications for return orders.
        receivePickupEmails:
          type: boolean
          description: Whether this admin receives email notifications for pickups.

    BusinessPaymentInfo:
      title: BusinessPaymentInfo
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier for the payment configuration record.
        paymentType:
          type: string
          description: The type of payment method configured for the business.
        paymentFrequency:
          type: string
          description: How frequently the business receives payment transfers (e.g. Weekly, Monthly, Daily).
        paymentSchedule:
          type: array
          description: Specific days or dates on which payment transfers are scheduled.
          items:
            type: string
        paymentTransferMethod:
          type: array
          description: The methods used to transfer payments to the business (e.g. bank transfer, Fawry).
          items:
            type: string
        creditLimit:
          type: number
          description: The maximum credit limit extended to the business.
        refundLimit:
          type: number
          description: The maximum refund amount allowed per cycle.
        codLimit:
          type: number
          description: The maximum cash-on-delivery amount the business is allowed to collect.
        codLimitForNegativeBalance:
          type: number
          description: The COD limit applied when the business has a negative wallet balance.
        paymentFrequencyUpdatedAt:
          type: string
          format: date-time
          description: Timestamp of the last payment frequency update.

    BusinessPricingTier:
      title: BusinessPricingTier
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the pricing tier.
        name:
          type: string
          description: Display name of the pricing tier.
        changeType:
          type: string
          description: Indicates how the pricing tier was changed (e.g. upgrade, downgrade).

    BusinessPricingFlags:
      title: BusinessPricingFlags
      type: object
      properties:
        isZeroCodDiscountApplied:
          type: boolean
          description: Whether a discount is applied for zero-COD orders.
        isExtraCodFeesApplied:
          type: boolean
          description: Whether extra COD fees are charged on orders.
        isInsuranceFeesApplied:
          type: boolean
          description: Whether insurance fees are applied to shipments.
        isExpediteFeesApplied:
          type: boolean
          description: Whether expedited delivery fees are applied.
        isCodFeesApplied:
          type: boolean
          description: Whether standard COD collection fees are applied.
        isPosFeesApplied:
          type: boolean
          description: Whether point-of-sale fees are applied.
        isRTODiscountApplied:
          type: boolean
          description: Whether a return-to-origin (RTO) discount is applied.

    BusinessCountryRef:
      title: BusinessCountryRef
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the country.
        name:
          type: string
          description: English name of the country.
        nameAr:
          type: string
          description: Arabic name of the country.
        code:
          type: string
          description: ISO country code.

    BusinessCityRef:
      title: BusinessCityRef
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the city.
        name:
          type: string
          description: English name of the city.
        nameAr:
          type: string
          description: Arabic name of the city.
        sector:
          type: integer
          description: Internal sector number associated with the city.

    BusinessZoneRef:
      title: BusinessZoneRef
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the zone.
        name:
          type: string
          description: English name of the zone.
        nameAr:
          type: string
          description: Arabic name of the zone.

    BusinessDistrictRef:
      title: BusinessDistrictRef
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the district.
        name:
          type: string
          description: English name of the district.
        nameAr:
          type: string
          description: Arabic name of the district.
        fmCode:
          type: string
          description: First-mile hub code associated with this district.

    BusinessAddressObject:
      title: BusinessAddressObject
      type: object
      properties:
        country:
          description: The country of the address.
          $ref: '#/components/schemas/BusinessCountryRef'
        city:
          description: The city of the address.
          $ref: '#/components/schemas/BusinessCityRef'
        zone:
          description: The zone within the city.
          $ref: '#/components/schemas/BusinessZoneRef'
        district:
          description: The district within the zone.
          $ref: '#/components/schemas/BusinessDistrictRef'
        firstLine:
          type: string
          description: Primary address line (street name and building details).
        geoLocation:
          type: array
          description: Geographic coordinates of the address as [longitude, latitude].
          items:
            type: number
          minItems: 2
          maxItems: 2
        isGeoLocationFromGoogleMaps:
          type: boolean
          description: Whether the geo-location coordinates were obtained from Google Maps.

    BusinessNewfeatureView:
      title: BusinessNewfeatureView
      type: object
      properties:
        storeDesign:
          type: boolean
          description: Whether the user has viewed the store design feature.
        chats:
          type: boolean
          description: Whether the user has viewed the chats feature.
        personalInfo:
          type: boolean
          description: Whether the user has viewed the personal info section.
        paymentInfo:
          type: boolean
          description: Whether the user has viewed the payment info section.
        accountPreferences:
          type: boolean
          description: Whether the user has viewed the account preferences section.
        plugins:
          type: boolean
          description: Whether the user has viewed the plugins section.
        pricingPlan:
          type: boolean
          description: Whether the user has viewed the pricing plan section.
        teamsMembers:
          type: boolean
          description: Whether the user has viewed the teams & members section.
        overviewPage:
          type: boolean
          description: Whether the user has viewed the overview page.
        bostaBox:
          type: boolean
          description: Whether the user has viewed the Bosta Box feature.
        bostaBorrow:
          type: boolean
          description: Whether the user has viewed the Bosta Borrow feature.
        bannerViewed:
          type: boolean
          description: Whether the user has dismissed the feature announcement banner.
        analyticsPage:
          type: boolean
          description: Whether the user has viewed the analytics page.
        fulfillmentInfo:
          type: boolean
          description: Whether the user has viewed the fulfillment info section.
        businessFlyers:
          type: boolean
          description: Whether the user has viewed the business flyers feature.
        productsPage:
          type: boolean
          description: Whether the user has viewed the products page.
        productsCatalogPage:
          type: boolean
          description: Whether the user has viewed the products catalog page.
        productsSllrPage:
          type: boolean
          description: Whether the user has viewed the Sllr products page.
        returnOtpFlow:
          type: boolean
          description: Whether the user has viewed the return OTP flow.
        pickupFlow:
          type: boolean
          description: Whether the user has viewed the new pickup flow.
        isBusinessCustomersTabViewed:
          type: boolean
          description: Whether the user has viewed the business customers tab.
        productReviews:
          type: boolean
          description: Whether the user has viewed the product reviews feature.

    BusinessInsurancePlan:
      title: BusinessInsurancePlan
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the insurance plan.
        name:
          type: string
          description: Display name of the insurance plan.
        assignedAt:
          type: string
          format: date-time
          description: Timestamp when the insurance plan was assigned to the business.
        rank:
          type: integer
          description: Relative ranking or tier level of the insurance plan.
        orderLossCompensationAmountLimit:
          type: number
          description: Maximum compensation amount the business can claim for a lost order.

    BusinessFlexShip:
      title: BusinessFlexShip
      type: object
      properties:
        isAllowedToSubscribe:
          type: boolean
          description: Whether the business is eligible to subscribe to the Flex Shipping service.
        isSubscribed:
          type: boolean
          description: Whether the business is currently subscribed to the Flex Shipping service.
        unsubscribedAt:
          type: string
          format: date-time
          description: Timestamp when the business unsubscribed from the Flex Shipping service.

    PickupContactPerson:
      title: PickupContactPerson
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the contact person.
        name:
          type: string
          description: Full name of the contact person.
        email:
          type: string
          format: email
          description: Email address of the contact person.
        phone:
          type: string
          description: Phone number of the contact person.

    PickupContactPersonFull:
      title: PickupContactPersonFull
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the contact person.
        name:
          type: string
          description: Full name of the contact person.
        firstName:
          type: string
          description: First name of the contact person.
        lastName:
          type: string
          description: Last name of the contact person.
        email:
          type: string
          format: email
          description: Email address of the contact person.
        phone:
          type: string
          description: Primary phone number of the contact person.
        secPhone:
          type: string
          description: Secondary phone number of the contact person.

    AssignedHub:
      title: AssignedHub
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the hub.
        name:
          type: string
          description: Display name of the hub.
        code:
          type: string
          description: Short code identifying the hub.
        address:
          description: Physical address of the hub.
          $ref: '#/components/schemas/BusinessAddressObject'

    DefaultPickupLocation:
      title: DefaultPickupLocation
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the pickup location.
        business:
          type: object
          description: Reference to the business that owns this pickup location.
          properties:
            _id:
              type: string
              description: Unique identifier of the business.
            name:
              type: string
              description: Name of the business.
        locationName:
          type: string
          description: Human-readable name for this pickup location.
        address:
          description: Physical address of the pickup location.
          $ref: '#/components/schemas/BusinessAddressObject'
        contactPerson:
          description: Primary contact person for this pickup location.
          $ref: '#/components/schemas/PickupContactPerson'
        returnContactPerson:
          description: Contact person responsible for handling return pickups at this location.
          $ref: '#/components/schemas/PickupContactPerson'
        contacts:
          type: array
          description: List of all contact persons associated with this pickup location.
          items:
            $ref: '#/components/schemas/PickupContactPersonFull'
        assignedHub:
          description: The Bosta hub assigned to service this pickup location.
          $ref: '#/components/schemas/AssignedHub'
        isNewZoning:
          type: boolean
          description: Whether this location uses the new zoning system.
        isNewAddressPickupLocation:
          type: boolean
          description: Whether this location was created under the new address model.
        isNewCityPickupLocation:
          type: boolean
          description: Whether this location is in a newly-added city.
        isNewAreaPickupLocation:
          type: boolean
          description: Whether this location is in a newly-added area.
        isDefaultLocation:
          type: boolean
          description: Whether this is the default pickup location for the business.
        pickupLocationRegion:
          type: string
          description: The geographic region associated with this pickup location.
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the pickup location was created.
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when the pickup location was last updated.

    BusinessFeaturesConfigurations:
      title: BusinessFeaturesConfigurations
      type: object
      properties:
        _id:
          type: string
          description: Unique identifier of the features configuration record.
        businessId:
          type: string
          description: The ID of the business this configuration belongs to.
        errorAlertsEnabled:
          type: boolean
          description: Whether error alerts are enabled for the business.
        hasFixedRTOTripsFromSFReverse:
          type: boolean
          description: Whether the business has fixed return-to-origin trips from SF Reverse.
        hasOmnifulSeller:
          type: boolean
          description: Whether the business uses Omniful as a fulfillment seller.
        isActivateBostaBar:
          type: boolean
          description: Whether the Bosta status bar is activated for the business.
        isAllowToOpenPackageModalDismissed:
          type: boolean
          description: Whether the "allow to open package" modal has been dismissed.
        isAutoDeliverDisabled:
          type: boolean
          description: Whether auto-delivery is disabled for the business.
        isAutomaticRechargeAnnouncementViewed:
          type: boolean
          description: Whether the automatic recharge announcement has been viewed.
        isBilingualInputViewed:
          type: boolean
          description: Whether the bilingual input feature prompt has been viewed.
        isBorrowFormFilled:
          type: boolean
          description: Whether the Bosta Borrow application form has been filled.
        isBostaSllrSeparationModalViewed:
          type: boolean
          description: Whether the Bosta/Sllr separation modal has been viewed.
        isBusinessAppliedForBorrow:
          type: boolean
          description: Whether the business has applied for Bosta Borrow financing.
        isConsigneesBlockedFromWA:
          type: boolean
          description: Whether consignees are blocked from contacting support via WhatsApp.
        isConversationalSalesBannerViewed:
          type: boolean
          description: Whether the conversational sales banner has been viewed.
        isCustomersBusinessTabViewed:
          type: boolean
          description: Whether the business customers tab has been viewed.
        isEnabledPOD:
          type: boolean
          description: Whether proof-of-delivery (POD) is enabled for the business.
        isExcludedFromRTOTransferBlockingValidation:
          type: boolean
          description: Whether the business is excluded from RTO transfer blocking validation.
        isExportTourViewed:
          type: boolean
          description: Whether the export feature tour has been viewed.
        isFirstFlyerOrderDelivered:
          type: boolean
          description: Whether the business's first flyer order has been delivered.
        isFirstFlyerOrderRequested:
          type: boolean
          description: Whether the business has made its first flyer order request.
        isFulfillmentServiceBannerDismissed:
          type: boolean
          description: Whether the fulfillment service promotion banner has been dismissed.
        isFunnelTourStarted:
          type: boolean
          description: Whether the onboarding funnel tour has been started.
        isItemValueTourViewed:
          type: boolean
          description: Whether the item value feature tour has been viewed.
        isManageCartDetailsViewed:
          type: boolean
          description: Whether the manage cart details feature has been viewed.
        isManageCategoriesBannerViewed:
          type: boolean
          description: Whether the manage categories banner has been viewed.
        isMarketingBannerViewed:
          type: boolean
          description: Whether the marketing promotion banner has been viewed.
        isMultiPackagesOnboardingDone:
          type: boolean
          description: Whether the multi-packages onboarding flow has been completed.
        isNewDashboardAnnouncementShown:
          type: boolean
          description: Whether the new dashboard announcement has been shown.
        isOmnifulFulfillment:
          type: boolean
          description: Whether the business uses Omniful for fulfillment.
        isOnlinePaymentEnabled:
          type: boolean
          description: Whether online payment is enabled for the business's store.
        isProductsSubTabViewed:
          type: boolean
          description: Whether the products sub-tab has been viewed.
        isProhibitedItemsModalViewed:
          type: boolean
          description: Whether the prohibited items information modal has been viewed.
        isPudoEnabled:
          type: boolean
          description: Whether Bosta PUDO (Pick Up Drop Off) is enabled for the business.
        isSizeChartViewed:
          type: boolean
          description: Whether the size chart feature has been viewed.
        isSllrOrdersBannerDismissed:
          type: boolean
          description: Whether the Sllr orders announcement banner has been dismissed.
        isSllrOverviewBannerDismissed:
          type: boolean
          description: Whether the Sllr overview banner has been dismissed.
        isSllrShipWithOtherCouriersBannerDismissed:
          type: boolean
          description: Whether the "ship with other couriers" Sllr banner has been dismissed.
        isSllrSidebarBannerDismissed:
          type: boolean
          description: Whether the Sllr sidebar banner has been dismissed.
        isStoreSettingsTabViewed:
          type: boolean
          description: Whether the store settings tab has been viewed.
        isThemesBannerViewed:
          type: boolean
          description: Whether the store themes banner has been viewed.
        isWhatsAppCSServiceModalDismissed:
          type: boolean
          description: Whether the WhatsApp customer service modal has been dismissed.
        prouductsIntroModalDismissed:
          type: boolean
          description: Whether the products introduction modal has been dismissed.
        revampedOrderTrackingBannerDismissed:
          type: boolean
          description: Whether the revamped order tracking banner has been dismissed.
        shouldShowChangeAddressModal:
          type: boolean
          description: Whether the change address modal should be shown to this business.
        showEWalletCashoutAnnouncement:
          type: boolean
          description: Whether the e-wallet cashout announcement should be shown.
        showPargoAnnouncement:
          type: boolean
          description: Whether the Pargo partnership announcement should be shown.
        sllrActivationBanner:
          type: boolean
          description: Whether the Sllr activation banner is shown.
        smartMassUpload:
          type: boolean
          description: Whether the smart mass upload feature is enabled.
        stopConfirmedDeliveryWebhook:
          type: boolean
          description: Whether webhook notifications for confirmed deliveries are suppressed.
        viewNPSScoreFeature:
          type: boolean
          description: Whether the NPS score feature is visible to the business.
        yearlyRecapAnnoucementShown:
          type: boolean
          description: Whether the yearly recap announcement has been shown.
        canViewInternationalWalletTab:
          type: boolean
          description: Whether the business can view the international wallet tab.
        isBulkEditTourViewed:
          type: boolean
          description: Whether the bulk order edit tour has been viewed.
        isFlyersStepDone:
          type: boolean
          description: Whether the flyers onboarding step has been completed.
        bostaExtensionGuideDismissed:
          type: boolean
          description: Whether the Bosta browser extension guide has been dismissed.
        isPickupsTourViewed:
          type: boolean
          description: Whether the pickups feature tour has been viewed.
        allowToOpenPackageExceptionPendingActionPreference:
          type: string
          description: The business's preference for handling "allow to open package" exception pending actions.
        awbPrintMode:
          type: string
          description: The preferred AWB (airway bill) print mode for the business.
        awbOptions:
          type: object
          description: AWB print configuration options.
          properties:
            multiLineDescription:
              type: boolean
              description: Whether to print the package description across multiple lines on the AWB.
        showNewSignUpInsurancePlanPopUp:
          type: boolean
          description: Whether to show the new sign-up insurance plan pop-up.
        downgradeState:
          type: string
          description: Current state of any in-progress pricing plan downgrade.
        latestDowngradeFlowCheckedAt:
          type: string
          format: date-time
          description: Timestamp of the last downgrade flow check.
        bankInfoBannerDismissedAt:
          type: string
          format: date-time
          description: Timestamp when the bank info completion banner was dismissed.
        trackerBarInfo:
          type: object
          description: Information for the order tracker progress bar.
          properties:
            numberOfCompletedOrders:
              type: integer
              description: Number of successfully delivered orders within the tracking period.
            rangeEndDate:
              type: string
              format: date-time
              description: End date of the tracker period.
            rangeStartDate:
              type: string
              format: date-time
              description: Start date of the tracker period.
            isBusinessWasInActive:
              type: boolean
              description: Whether the business was inactive during the tracker period.
        announcementsInfo:
          type: object
          description: A map of announcement identifiers to their view metadata.
          additionalProperties:
            type: object
            properties:
              announcementFirstSeenAt:
                type: string
                format: date-time
                description: Timestamp when the announcement was first seen.
              isAnnouncementViewed:
                type: boolean
                description: Whether the announcement has been fully viewed or dismissed.
        shopifyProductsSync:
          type: boolean
          description: Whether Shopify product synchronization is enabled.
        isBusinessBrandLogoUploadFeatureViewed:
          type: boolean
          description: Whether the brand logo upload feature prompt has been viewed.
        hasShownExtensionSlider:
          type: boolean
          description: Whether the browser extension promotional slider has been shown.
        integrations:
          type: object
          description: Third-party integration configuration.
          properties:
            shopify:
              type: object
              description: Shopify integration settings.
              properties:
                active:
                  type: boolean
                  description: Whether the Shopify integration is active.
                autoSyncOrderStepDone:
                  type: boolean
                  description: Whether the auto-sync order setup step has been completed.
                hasApiKey:
                  type: boolean
                  description: Whether a Shopify API key has been configured.
            woocommerce:
              type: object
              description: WooCommerce integration settings.
              properties:
[...]
